.container {
  overflow: hidden;
  transition: transform ease-in-out 0.3s;
}

.container:hover{
  transform: scale(0.98);
}

.sliderContainer {
  display: flex;
  flex-wrap: nowrap;
}

.sliderBox {
  padding: 0 105px;
  min-width: 100%;
  overflow: hidden;
  transition: 0.3s ease all;
  z-index: 100;
  position: relative;
}


.img {
  width: 100%;
  height: 94em;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: top;
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
    .sliderBox{
      padding: 0;
    }

    .img{
      height: 45em;
    }
}

@media print, screen and (max-width: 39.99875em) {
  .sliderBox {
    padding: 0;
    border-radius: 0px;
  }

  .img {
    border-radius: 0;
    width: 100%;
    height: 25em;
    object-fit: cover;
  }
}
