@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #111111;
  overflow-x: hidden;
}

/* NAVBAR */
.right {
  position: relative;
  transition: transform ease-in-out 0.3s;
}

.right:hover .arrow {
  transform: translateX(8px);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: absolute;
  top: 0%;
  bottom: 100%;
  left: 100%;
  transition: transform ease-in-out 0.3s;
}

.link {
  font-size: 2em;
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  position: relative;
  transition: transform ease-in-out 0.4s;
}

.link:hover {
  transform: translateX(4px);
}

section {
  transition: all ease-in-out 0.3s;
}

.idea{
  overflow: hidden;
}

/* .App:hover section:not(:hover){
  filter: opacity(30%) blur(1px);
} */

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .App:hover section:not(:hover){
    filter: opacity(100%) blur(0px);
  }
}

@media print, screen and (max-width: 39.99875em) {
  .App:hover section:not(:hover){
    filter: opacity(100%) blur(0px);
  }

  .customcursor{
    display: none;
  }

  *{
    cursor: auto;
  }
}
